stages:
  - validate
  - security
  - build
  - push
  - trigger-cd

variables:
  FRONTEND_DOCKER_TAG:
    value: ""
    description: "setting image for latest push"
  BACKEND_DOCKER_TAG:
    value: ""
    description: "setting image for latest push"


workflow:
  rules:
    - if: $FRONTEND_DOCKER_TAG == "" || $BACKEND_DOCKER_TAG == ""
      when: never
    - if: $CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "push"

.docker_setup:
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    #    - apk add --no-cache git bash
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin

trivy_filesystem:
  stage: security
  image:
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    - trivy fs .

sonarqube_analysis:
  stage: security
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: 0
  cache:
    key: "${CI_PROJECT_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
      -Dsonar.host.url=$SONAR_HOST_URL
      -Dsonar.login=$SONAR_TOKEN
  allow_failure: true

build_image:
  extends: .docker_setup
  stage: build
  script:
    # Backend ENV build
    - cd Automations && bash updatebackendnew.sh && cd ..
    - docker build -t $DOCKER_USER/wanderlust-backend-beta:$BACKEND_DOCKER_TAG ./backend

    # Frontend ENV build
    - cd Automations && bash updatefrontendnew.sh && cd ..
    - docker build -t $DOCKER_USER/wanderlust-frontend-beta:$FRONTEND_DOCKER_TAG ./frontend

    # Save image to file so that Push job can use them
    - docker save $DOCKER_USER/wanderlust-backend-beta:$BACKEND_DOCKER_TAG > backend_image.tar
    - docker save $DOCKER_USER/wanderlust-frontend-beta:$FRONTEND_DOCKER_TAG > frontend_image.tar
  artifacts:
    paths:
      - backend_image.tar
      - frontend_image.tar
    expire_in: 1 hour
  tags:
    - dev

push_images:
  extends: .docker_setup
  stage: push
  script:
    # Load Images from artifact
    - docker load < backend_image.tar
    - docker load < frontend_image.tar

    # Push the image for backend
    - |
      if docker manifest inspect $DOCKER_USER/wanderlust-backend-beta:$BACKEND_DOCKER_TAG > /dev/null  2>&1; then
        echo "Backend image already exists, Skinping the push"
      else
        echo "Pusing Backend image to Registry"
        docker push $DOCKER_USER/wanderlust-backend-beta:$BACKEND_DOCKER_TAG
      fi
    - |
      if docker manifest inspect $DOCKER_USER/wanderlust-frontend-beta:$FRONTEND_DOCKER_TAG > /dev/null 2>&1; then
        echo "Frontend image already exists, Skiping the push"
      else
        echo "Pushing Frontend image to Registry"
        docker push $DOCKER_USER/wanderlust-frontend-beta:$FRONTEND_DOCKER_TAG
      fi

trigger_cd:
  stage: trigger-cd
  trigger:
    project: GitOps/.gitlab-ci.yml
    forward:
      pipeline_variables: true

